streamlit==1.51.0

# ragas version WITHOUT tiktoken dependency
ragas==0.1.5

# data
pandas==2.3.3
datasets==2.14.6

# LLM stack
openai==1.7.2
langchain==0.1.0
langchain-openai==0.0.2
langchain-groq==0.0.1
langchain-community==0.0.13

# embeddings
sentence-transformers==2.2.2
huggingface-hub==0.20.3

# needed for datasets / huggingface
pyyaml==6.0.1
